services:
  flowise:
    ports:
      - 127.0.0.1:3001:3001

  open-webui:
    ports:
      - 127.0.0.1:8080:8080
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434

  n8n:
    environment:
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=http://localhost:5678
    ports:
      - 127.0.0.1:5678:5678

  qdrant:
    ports:
      - 127.0.0.1:6333:6333
      - 127.0.0.1:6334:6334

  neo4j:
    ports:
      - 127.0.0.1:7473:7473
      - 127.0.0.1:7474:7474
      - 127.0.0.1:7687:7687

  langfuse-worker:
    ports:
      - 127.0.0.1:3030:3030

  langfuse-web:
    ports:
      - 127.0.0.1:3000:3000

  clickhouse:
    ports:
      - 127.0.0.1:8123:8123
      - 127.0.0.1:9000:9000
      - 127.0.0.1:9009:9009

  minio:
    ports:
      - 127.0.0.1:9010:9000
      - 127.0.0.1:9011:9001

  postgres:
    ports:
      - 127.0.0.1:5433:5432                

  redis:
    ports:
      - 127.0.0.1:6379:6379

  searxng:
    ports:
      - 127.0.0.1:8081:8080

  ollama-cpu:
    ports:
      - 127.0.0.1:11434:11434

  ollama-gpu:
    ports:
      - 127.0.0.1:11434:11434
      
  ollama-gpu-amd:
    ports:
      - 127.0.0.1:11434:11434

  dashboard:
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    build:
      context: ./dashboard
      args:
        NEXT_PUBLIC_N8N_URL: http://localhost:5678
        NEXT_PUBLIC_OPENWEBUI_URL: http://localhost:8080
        NEXT_PUBLIC_FLOWISE_URL: http://localhost:3001
        NEXT_PUBLIC_SUPABASE_STUDIO_URL: http://localhost:8000
        NEXT_PUBLIC_LANGFUSE_URL: http://localhost:3000
        NEXT_PUBLIC_SEARXNG_URL: http://localhost:8081
        NEXT_PUBLIC_NEO4J_URL: http://localhost:7474
        NEXT_PUBLIC_KALI_URL: https://localhost:6901
    ports:
      - 127.0.0.1:3002:3000

  updater:
    environment:
      - COMPOSE_FILE=/opt/cbass/docker-compose.yml:/opt/cbass/docker-compose.override.private.yml

  kali:
    ports:
      - 127.0.0.1:6901:6901
